/build/
/output/
/dist/
/validation/
/engine/
/userdata/
/Prey-settings.json
/Play-Prey2006-Custom.bat
/Prey2006 Reawakened Launcher.exe
/PreyConfigurator/native/build/
/PreyConfigurator/publish/
**/__pycache__/
*.save
*.iso
*.pk4
*.pdb
*.dmp
preykey
xpkey
.env
.env.*
